
{{if len(projects) > 1}}
<header>
<h1 id="title">{{len(projects)}} {{item_plural}}
<span class="query">
{{if search}}
  matching <span class="query-value query-search">{{search}}</span>
{{endif}}
{{for loop, key_value in looper(query.items())}}
  {{if loop.first}} with {{endif}}
  {{py:key, value = key_value}}
  <span class="query-item">
    <span class="query-key">{{key}}</span>
    <span class="query-value">{{isinstance(value, basestring) and value or ', '.join(value)}}</span>
  </span>
  {{if not loop.last}}
    and
  {{endif}}
{{endfor}}
</span>
</h1>
<nav id="sort-order">
  <ul>
    <li><span id="sort-legend">sort by</span></li>
    {{for sort_link, sort_description in sort_types}}
    <li>
      {{if sort_type == sort_link}}
      <span id="search-type" title="sorted by {{sort_description}}">{{sort_description}}</span>
      {{else}}
      <a href="?{{if request.query_string}}{{request.query_string + '&'}}{{endif}}sort={{sort_link}}" title="sort by {{sort_description}}">{{sort_description}}</a>
      {{endif}}
    </li>
    {{endfor}}
  </ul>
</nav>
{{endif}}
</header>

{{if not len(projects)}}
<h1 id="title">No {{item_plural}} found</h1>
{{endif}}
{{if error}}
<h1 id="title">{{error | html}}</h1>
{{endif}}

{{for project in projects}}
  <div class="project" id="{{project['name']}}">
    <a name="{{project['name']}}"></a>
    <span class="date" title="{{format_date(project['modified'])}}">
      {{format_date(project['modified'])}}
    </span>

    <!-- title -->
    <h1 class="project-title">
      <a href="{{urlescape(project['name'])}}">{{project['name']}}</a> 
      <!-- TODO: urlescape -->
    </h1>
    <!-- description -->
    <p class="description">{{project.get('description', '')}}</p>
    
    <a class="home" href="{{project['url']}}">{{project['url']}}</a>

    <!-- fields -->
    <ul class="fields">
      {{for field in fields}}
      <li class="field {{field}}">
        <h2 class="field-name"><a href="{{field}}" title="{{item_plural}} by {{field}}">{{field}}:</a></h2>
        <span class="field-value-container">
          {{if (not field in project) or not project[field]}}
            <div class="field-none field-value">none</div>
          {{else}}
          <ul class="field-values field-value">
            {{for entry in sorted(project[field], key=lambda x: x.lower())}}
              <li class="field-value-item">
               <a href="./?{{field}}={{entry}}" title="{{item_plural}} with {{field}}={{entry}}">{{entry}}</a>
              </li>
            {{endfor}}
          </ul>
          {{endif}}
          <span class="edit-value">
            <span class="edit-message">&nbsp;</span>
          </span>
         </span>
         <span class="field-edit">
           <input></input>
         </span>
      </li>
      {{endfor}}
    </ul>
 
  </div><!-- project -->
{{endfor}}  

