{{if len(projects) > 1}}
<nav id="sort-order">
  <ul>
    {{if 'q' in request.GET}}
    <li><span id="search-type">search rank</span></li>
    {{endif}}
    <li>
      {{if sort_type == 'name'}}
      <span id="search_type">name</span>
      {{else}}
      <a href="?sort=name" title="sort by name">name</a>
      {{endif}}
    </li>
    <li>
      {{if sort_type == '-modified'}}
      <span id="search_type">last updated</span>
      {{else}}
      <a href="?sort=-modified" title="sort by last updated">last updated</a>
      {{endif}}
    </li>
  </ul>
</nav>
{{endif}}

{{if len(projects) > 1}}
<h1 id="title">{{len(projects)}} tools</h1>
{{endif}}
{{if not len(projects)}}
<h1 id="title">No tools found</h1>
{{endif}}
{{if error}}
<h1 id="title">{{error | html}}</h1>
{{endif}}

{{for project in projects}}
  <div class="project" id="{{project['name']}}">
    <a name="{{project['name']}}"></a>
    <span class="date" title="{{format_date(project['modified'])}}">
      {{format_date(project['modified'])}}
    </span>

    <!-- title -->
    <h1 class="project-title">
      <a href="{{project['name']}}">{{project['name']}}</a> 
      <!-- TODO: urlescape -->
    </h1>
    <!-- description -->
    <p class="description">{{project.get('description', '')}}</p>
    
    <a class="home" href="{{project['url']}}">{{project['url']}}</a>

    <!-- fields -->
    <ul class="fields">
      {{for field in fields}}
      <li class="field {{field}}">
        <h2 class="field-name"><a href="{{field}}" title="tools by {{field}}">{{field}}:</a></h2>
        <span class="field-value-container">
          {{if (not field in project) or not project[field]}}
            <div class="field-none field-value">none</div>
          {{else}}
          <ul class="field-values field-value">
            {{for entry in sorted(project[field], key=lambda x: x.lower())}}
              <li class="field-value-item">
               <a href="./?{{field}}={{entry}}" title="tools with {{field}}={{entry}}">{{entry}}</a>
              </li>
            {{endfor}}
          </ul>
          {{endif}}
          <span class="edit-value">
            <span class="edit-message">&nbsp;</span>
          </span>
         </span>
         <span class="field-edit">
           <input></input>
         </span>
      </li>
      {{endfor}}
    </ul>
 
  </div><!-- project -->
{{endfor}}  

