{{if len(projects) > 1}}
<h1 id="title">{{len(projects)}} tools</h1>
{{endif}}
{{if not len(projects)}}
<h1 id="title">No tools found</h1>
{{endif}}
{{if error}}
<h1 id="title">{{error | html}}</h1>
{{endif}}

{{for project in projects}}
  <div class="project" id="{{project['name']}}">
    <a name="{{project['name']}}"></a>
    <span class="date">Updated: {{format_date(project['modified'])}}</span>

    <!-- title -->
    <h1>
      <a href="{{project['name']}}">{{project['name']}}</a> 
      <!-- TODO: urlescape -->
    </h1>
    <a class="home" href="{{project['url']}}">{{project['url']}}</a>

    <!-- description -->
    <p class="description">{{project.get('description', '')}}</p>

    <!-- fields -->
    {{for field in [f for f in fields if f in project]}}
    <ul class="field {{field}}">
      <h2 class="project-header"><a href="{{field}}" title="tools by {{field}}">{{field}}</a></h2>
      {{for entry in project[field]}}
      <li><a href="./?{{field}}={{entry}}" title="tools with {{field}}={{entry}}">{{entry}}</a></li>
      {{endfor}}
    </ul>
    {{endfor}}

    <!-- project deletion -->
    <form class="delete" action="delete" method="POST">
      <button type="submit" name="project" title="delete tool" value="{{project['name']}}">
        Delete
      </button>
    </form>

    <div class="separator"></div>
  </div><!-- project -->
{{endfor}}  

