<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{title}}</title>

{{for sheet in css}}
<link href="{{link(sheet)}}" rel="stylesheet" type="text/css" />
{{endfor}}

{{for script in js}}
<script src="{{link(script)}}"></script>
{{endfor}}

</head>
<body>

<!-- navigation menu -->
<ul class="navigation">
  <li><a href="/" title="toolbox">toolbox</a></li>
  {{if hasAbout}}
  <li><a href="{{link('about')}}" title="about:toolbox">about</a></li>
  {{endif}}
  <li><a href="{{link('new')}}" title="add a tool">new</a></li>
  {{for field in fields}}
  <li>
    <a class="by-field" href="{{link(field)}}" title="tools by {{field}}">{{field}}</a>
  </li>
  {{endfor}}
</ul>

<!-- text search form -->
<form id="search" action="{{link()}}">
  <input id="search-text" type="text" name="q" value="{{request.GET.get('q', '')}}"/>
  <input id="search-submit" type="submit" value=""/>
</form>

{{content | html}}

</body>
</html>
