<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{title}}</title>
<link rel="icon" href="img/favicon.ico" />

{{for sheet in css}}
<link href="{{sheet}}" rel="stylesheet" type="text/css" />
{{endfor}}

{{for sheet in less}}
<link href="{{sheet}}" rel="stylesheet/less" type="text/css" />
{{endfor}}

{{for script in js}}
<script src="{{script}}"></script>
{{endfor}}

</head>
<body>
  <!-- navigation menu -->
  <nav>
    <ul>
      <li><a href="./" title="toolbox">toolbox</a></li>
      {{if hasAbout}}
      <li><a href="about" title="about:toolbox">about</a></li>
      {{endif}}
      <li><a href="new" title="add a tool">new</a></li>
      {{for field in fields}}
      <li>
        <a class="by-field" href="{{field}}" title="tools by {{field}}">{{field}}</a>
      </li>
      {{endfor}}
    </ul>
  </nav>

  <div id="container">
    <!-- text search form -->
    <form id="search" action="./">
      <input id="search-text" type="text" name="q" value="{{request.GET.get('q', '')}}"/>
      <input id="search-submit" type="submit" title="search" value=""/>
    </form>
    <div id="content">
      {{content | html}}
    </div>
  </div>

</body>
</html>
