<h1 id="title">Add a tool</h1>

<form id="new" method="post">

  <!-- required fields -->
  <div>
    <label for="name">Name</label>
    <input type="text" name="name"/>
    {{if 'name' in errors}}
     <ul class="error">
       {{for error in errors['name']}}
       <li>{{error}}</li>
       {{endfor}}
     </ul>
    {{endif}}
  </div>
  <div>
    <label for="Description">Description</label>
    <textarea name="description"></textarea>
    {{if 'description' in errors}}
     <ul class="error">
       {{for error in errors['description']}}
       <li>{{error}}</li>
       {{endfor}}
     </ul>
    {{endif}}
  </div>
  <div class="separator"></div>
  <div>
    <label for="url">URL</label>
    <input type="text" name="name"/>
    {{if 'url' in errors}}
     <ul class="error">
       {{for error in errors['url']}}
       <li>{{error}}</li>
       {{endfor}}
     </ul>
    {{endif}}
  </div>

  <!-- optional fields -->
  {{for field in fields}}
  <div>
    <label for="{{field}}">{{field.title()}}</label>
    <input type="text" name="{{field}}"/>

    <!-- display errors -->
    {{if field in errors}}
     <ul class="error">
       {{for error in errors[field]}}
       <li>{{error}}</li>
       {{endfor}}
     </ul>
    {{endif}}

  </div>
  {{endfor}}

  <input class="submit" type="submit" value="Add it!"/>

</form>
