* {
font-family: sans-serif;
margin: 0.5em;
}

body {
background: #4181A1;
}

div.project {
 background: white;
 border: thin solid black;
 border-radius: 1em;
 margin: 0.3em;
 margin-bottom: 0.5em;
 clear: both;
}

a { 
text-decoration: none;
color: #233;
}

a:hover {
color: #425;
background: white;
}

ul {
list-style: none;
}

ul.navigation {
display: inline;
}

.navigation li {
float: left;
background: #57A;
margin-left: 0.3em;
margin-right: 0.3em;
}

h1 {
margin-left: 0.8em;
margin-right: 0.8em;
}

h2 {
margin-left: 0.0em;
margin-right: 0.2em;
margin-top: 0;
margin-bottom: 0;
padding: 0;
}

.date { 
font-style: italic;
float: right;
margin: 0.5em;
}

ul.field {
float: left;
border: thin solid black;
border-radius: 1em;
padding: 0.5em;
}

#separator {
clear: both;
}

li {
margin: 0;
padding: 0;
}

.delete {
float: right;
}

#search-submit {
background: url(/img/search.png);
}