* {
font-family: sans-serif;
margin: 0.5em;
}

textarea {
width: 99%;
height: 7em;
}

body {
background: #4181A1;
}

div.project,div.field,#new {
 background: white;
 border: thin solid black;
 border-radius: 1em;
 margin: 0.3em;
 margin-bottom: 0.5em;
 clear: both;
}

#new {
width: 50em;
margin: 0;
}

#new label {
margin: 0;
}

#new input {
margin: 0;
left: 10em;
position: absolute;
}

input.submit:hover {
border-style: inset;
border-width: 5px;
}

#new input.submit {
background: white;
border: thin solid black;
border-radius: 1em;
float: right;
}

a { 
text-decoration: none;
color: #233;
}

a:hover {
color: #625;
}

ul {
list-style: none;
}

ul.navigation {
display: inline;
}

.navigation li {
float: left;
text-color: white;
margin-left: 0.3em;
margin-right: 0.3em;
}

h1 {
margin-left: 0.3em;
margin-right: 0.3em;
}

h2 {
margin-left: 0.0em;
margin-right: 0.0em;
margin-top: 0;
margin-bottom: 0;
padding: 0;
}

.date { 
font-style: italic;
float: right;
margin: 0.5em;
}

ul.field {
float: left;
border: thin solid black;
border-radius: 1em;
padding: 0.5em;
}

.separator {
clear: both;
}

li {
margin: 0;
padding: 0;
}

.delete {
float: right;
}

ul.field li {
margin-left: 0.6em;
}

#search-submit {
background: url(/img/search.png);
width: 24px;
height: 24px;
border: none;
}

#search-text {
width: 50%;
margin-right: 0;
}

p.description {
margin-left: 1em;
}

.delete button {
background: white;
border: thin solid black;
border-radius: 1em;
}

label {
font-weight: bold;
}

.error {
float: right;
color: red;
}